@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

li {
    list-style: none;
    overflow: auto;
    word-wrap: break-word;

}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: black;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #606159;
    max-width: 900px;
    border-radius: 30px;

}

.background {
    background: url(./nature.jpg) no-repeat center center/cover;
    /* height: 100%; */
    height: 100vh;
    padding: 1rem 0;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.column {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;

}

.column .col {
    float: left;
}

.col {
    flex: 1 0 0%;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #1a2320;
    border-radius: 30px;


}

.card-content {
    padding: 24px;

}

.card-action {
    padding: 24px;

}

.btn {
    display: block;
    padding: 0.8rem 0;
    width: 100%;
    font-weight: 500;
    border-radius: 30px;
    background-color: #028146;
    border: 2px #e5e5e5 solid;
    color: #fff;
    margin: 1rem 0;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.new-task-input {
    outline: 0;
    border-width: 0 0 2px;
    width: 100%;
    border-color: #fff;
    background: none;
    color: #fff;
    font-size: 18px;
    margin: 1rem 0;
}

.new-task-input:focus {
    border-color: green;
}

.filter-task-input {
    outline: 0;
    border-width: 0 0 2px;
    width: 100%;
    border-color: #fff;
    background: none;

    color: #fff;
    font-size: 18px;
    margin: 1rem 0;
}

.filter-task-input:focus {
    border-color: green;
}

.added-tasks {
    width: 100%;
    /* margin: 1rem 0; */
}

.counter {
    background-color: #028146;
    padding: 1rem;
    /* padding-top: 0.4rem; */
    /* padding-bottom: 1.8rem; */
    color: #fff;
    font-weight: 600;
    /* font-size: 18px; */
    margin-right: 0.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    /* position: relative; */
    display: inline-block;

}

.remove {
    color: #fff;
    background: #028146;
    /* margin: 0.5rem 0.9rem; */
    /* padding: 1rem; */
    padding: 1rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    /* position: inherit; */
    float: right;
    /* margin-right: auto;
    margin-left: 0; */
    /* z-index: 1; */
    font-size: 19px;
}

.remove:hover {
    opacity: 0.8;
}

.collection-item {
    /* border: 2px #606159 solid; */
    border: 1px yellow solid;
    /* margin: 0.5rem 0; */
    /* padding: 0.5rem 0; */
    border-radius: 30px;
    margin: 1rem 0;
    /* padding-top: 0.6rem; */
    /* margin-top: 1rem; */
    /* padding-bottom: 0.1rem; */
    /* position: relative; */
}



.added-tasks li {
    border: 2px #606159 solid;
    /* width: 100%; */
    /* padding: 0.1rem; */
    /* padding: 1rem 0; */
    /* padding-top: 0.6rem; */
    /* margin: 1rem; */
    /* position: relative; */
}