@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: block;
}

li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: black;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 900px;
    border-radius: 30px;
}

.background {
    background: url(./nature.jpg) no-repeat center center/cover;
    height: 100vh;
    padding: 1rem 0;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.column {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;

}

.column .col {
    float: left;
}

.col {
    flex: 1 0 0%;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.card-content {
    padding: 20px;
}

.card-action {
    padding: 20px;
    position: relative;
}

.btn {
    display: block;
    padding: 0.8rem 0;
    width: 100%;
    font-weight: 500;
    border-radius: 30px;
    background-color: #02683890;
    border: 2px #e5e5e5 solid;
    color: #fff;
    margin: 1rem 0;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.new-task-input {
    outline: 0;
    border-width: 0 0 2px;
    width: 100%;
    border-color: #fff;
    background: none;
    color: #fff;
    font-size: 16px;
    margin: 1rem 0;
}

.new-task-input:focus {
    border-color: green;
}

.filter-task-input {
    outline: 0;
    border-width: 0 0 2px;
    width: 100%;
    border-color: #fff;
    background: none;
    color: #fff;
    font-size: 16px;
    margin: 1rem 0;
}

.filter-task-input:focus {
    border-color: green;
}

.added-tasks {
    width: 100%;
    position: relative;
}

.counter {
    background-color: #026838;
    padding: 1rem 0.6rem;
    color: #fff;
    font-weight: 600;
    margin-right: 0.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    display: inline-block;
}

.remove {
    color: #fff;
    background: #026838;
    padding: 1.1rem 0.6rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    float: right;
}

.remove:hover {
    opacity: 0.8;
}


.remove-all-text {
    color: #fff;
    background: #014827;
    padding: 0.6rem;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.remove-all-text:hover {
    opacity: 0.8;
}

.glass {
    color: #fff;
    background: #026838;
    padding: 1.1rem 0.6rem;
    cursor: pointer;
    float: right;
    border-right: 2px #606159 solid;
    border-left: 2px #606159 solid;
}

.glass:hover {
    opacity: 0.8;
}

.collection-item {
    border-radius: 30px;
    margin: 1rem 0;
    position: relative;
    border: 2px #606159 solid;
    list-style: none;
}

.task-heading,
.task-heading-one {
    text-align: center;
}

.footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.footer-apps {
    margin-left: 0.2rem;
}

.footer-apps i {
    padding: 0 0.3rem;
    padding-top: 0.5rem;
    margin-bottom: 0.2rem;
    color: #e5e5e5;
}

.footer-apps i:hover {
    opacity: 0.8;
}

.all-text {
    background-color: #e5e5e5;
    border-radius: 15px;
    color: black;
    max-width: 100%;
    margin: 1rem;
    padding: 1rem 0.8rem;
    position: relative;
}

.all-text p {
    word-wrap: break-word;
    white-space: initial;
    overflow: auto;
    width: 100%;
    padding: 0.5rem;
    position: relative;
}

/* Media Queries */
@media screen and (max-width: 375px) {
    body {
        font-size: 10px
    }

    .row {
        padding: 0.3rem;
    }

    .card-content {
        padding: 10px;
    }

    .card-action {
        padding: 10px;
    }
}


/* Test Message Task */

.test-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
}

.test-success {
    background-color: #026838;
    opacity: 0.8;
}

.test-failed {
    background-color: #b20000;
    opacity: 0.8;
    color: #e5e500;
}